//	PAGE Style
//==================================================
body {
	// custom scroll-bar
	//.scroll-bar();
}
main {
}
#page {
}
//	HEADER Style
//==================================================
header {	
	color      : @header-color;
    background : @header-bg;

	// -- LOGO Style
	.logo {
		text-decoration : none;

		a {
			display : inline-block;
		}

		img {
		}
	}
}
// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
article {
}
section {
}
// 404 page
//==================================================
.first {
	font-size: 7em;
	font-size: 7vw;
}
//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
}
//	FOOTER Style
//==================================================
footer {
	padding    : @padding-larger-vertical * 2 0;
	background : @footer-bg;
	color      : @footer-color;
	font-size  : @font-size-small;
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
.webPage-go-top{
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}